*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-family: "Caveat", cursive;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  color: white;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgb(12, 9, 72);
}

.container {
  width: 95%;
  margin: 0 auto;
  padding: calc(
      5px + 10 * ((100vw - 320px) / 960)
    );
}

.name {
  font-family: "Caveat", cursive;
  width: 100%;
  display: block;
  text-align: center;
  font-weight: 700;
  margin-bottom: calc(
      15px + 20 * ((100vw - 320px) / 960)
    );
}
@media (max-width: 767px) {
  .name {
    font-size: calc(
      40px + 85 * ((100vw - 320px) / 1280)
    );
  }
}
@media (min-width: 767px) {
  .name {
    font-size: calc(40px + 50 * (100vw / 1280));
  }
}

.social_icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: calc(
      3px + 17 * ((100vw - 320px) / 960)
    );
}

.social_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: calc(
      30px + 90 * ((100vw - 320px) / 960)
    );
  min-height: calc(
      30px + 90 * ((100vw - 320px) / 960)
    );
  color: inherit;
  border-radius: 100px;
  margin: calc(
      10px + 15 * ((100vw - 320px) / 960)
    );
  padding: calc(
      10px + 10 * ((100vw - 320px) / 960)
    );
  border: solid white;
  border-width: calc(
      2px + 3 * ((100vw - 320px) / 960)
    );
}

.portfolio_block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: calc(
      20px + 40 * ((100vw - 320px) / 960)
    );
}

.portfolio_item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: calc(
      150px + 200 * ((100vw - 320px) / 960)
    );
  min-height: calc(
      20px + 50 * ((100vw - 320px) / 960)
    );
  color: inherit;
  border-radius: 100px;
  margin: calc(
      5px + 15 * ((100vw - 320px) / 960)
    );
  padding: calc(
      15px + 10 * ((100vw - 320px) / 960)
    );
  border: solid white;
  border-width: calc(
      2px + 3 * ((100vw - 320px) / 960)
    );
}
@media (max-width: 767px) {
  .portfolio_item {
    font-size: calc(
      15px + 42.5 * ((100vw - 320px) / 1280)
    );
  }
}
@media (min-width: 767px) {
  .portfolio_item {
    font-size: calc(15px + 25 * (100vw / 1280));
  }
}

svg *[fill] {
  fill: currentColor;
}

.svg_social_logo {
  width: calc(
      18px + 62 * ((100vw - 320px) / 960)
    );
  height: calc(
      18px + 62 * ((100vw - 320px) / 960)
    );
  color: #fff;
}

.svg_social_logo * {
  fill: currentColor; /* This sets the fill color based on the parent color */
}

.my_logo {
  margin: 0 auto;
  text-align: center;
}

#my_logo {
  width: calc(
      100px + 150 * ((100vw - 320px) / 960)
    );
  color: #fff;
}